<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936359464122-e567r21ltadv7daqqrc4q0h4m8ic4854.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936359464122-e567r21ltadv7daqqrc4q0h4m8ic4854</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Ri3dQjTtFHta-gLUrL5HKpFsxfTUaeA</string>
	<key>GCM_SENDER_ID</key>
	<string>936359464122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.l2t.head-knocker</string>
	<key>PROJECT_ID</key>
	<string>hello-wine</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-wine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936359464122:ios:902f5c25f8a04fb55c8683</string>
</dict>
</plist>