<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412766305106-tv03ljnj8mdklkj75tm74g57uk1aa5qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412766305106-tv03ljnj8mdklkj75tm74g57uk1aa5qp</string>
	<key>API_KEY</key>
	<string>AIzaSyBlNfIDJLr4LA_gVVyBzJcXy7cfQzlxiXk</string>
	<key>GCM_SENDER_ID</key>
	<string>412766305106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.l2t.headknocker</string>
	<key>PROJECT_ID</key>
	<string>head-knocker</string>
	<key>STORAGE_BUCKET</key>
	<string>head-knocker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412766305106:ios:26fc901c10ba92addb588b</string>
</dict>
</plist>